$lightgray: #99a5af;
$white: #fff;
$black: #000;
$orchestratingblue: #002b62;
$transparent: #002b6200;
$lightskyblue: lightskyblue;
$lightskybluetransparent: rgba(135, 206, 250, 0.15);
$overlay: rgba(0, 0, 0, 0);
$yellow: #f9ee14;
$necgreen: #003629;
$necturquoise: #003f4c;
$necpurple: #2f2346;
$necorange: #eb6e00;

$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-medium-plus: 1.5rem;
$font-size-large: 2rem;
$font-size-large-plus: 3rem;
$font-size-huge: 8rem;
$border-radius: 0.3em;

$button-primary-color: $orchestratingblue;
$button-secondary-color: white;
$button-print-color: $orchestratingblue;

$app-main-font-color: $black;

$page-title-font-color: $orchestratingblue;
$page-title-background-color: $transparent;

$lookup-label-color: $white;
$lookup-label-background-color: $orchestratingblue;

$page-navbutton-font-color: $white;

$page-background-color: rgba(255, 255, 255, 0.75);

$warning-font-color: $orchestratingblue;
$alert-font-color: $orchestratingblue;
$alert-button-color: $necorange;
